{% extends 'writer/base.html' %}

{% block content %}

<!-- Page Title -->
<div class="page-title position-relative">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Category - {{category}} ({{total_articles}})</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="{% url 'writer_home' %}">Home</a></li>
                <li class="current"><a href="{% url 'writer_article_category_list' category %}">Categories</a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->

<div class="container">
    <div class="row">

        {% if articles %}
            <div class="col-lg-8">

                <!-- Blog Posts Section -->
                <section id="blog-posts" class="blog-posts section">

                    <div class="container">
                        <div class="row gy-4">

                            {% for obj in articles %}
                                <div class="col-lg-6">
                                    <article class="position-relative h-100">

                                        <div class="post-img position-relative overflow-hidden">
                                            <img src="{{ obj.image.url }}" class="img-fluid" alt="">
                                            <span class="post-date">{{ obj.date_added}}</span>
                                        </div>

                                        <div class="post-content d-flex flex-column">

                                            <h3 class="post-title">{{ obj.title }}</h3>

                                            <div class="meta d-flex align-items-center">
                                                <div class="d-flex align-items-center">
                                                    <i class="bi bi-person"></i> <span class="ps-2">{{ obj.writer.username|title }}</span>
                                                </div>
                                                <span class="px-3 text-black-50">/</span>
                                                <div class="d-flex align-items-center">
                                                    <i class="bi bi-folder2"></i> 
                                                    <span class="ps-2">
                                                        {% for objects in obj.category.all %}
                                                            {{objects.name}}{% if not forloop.last %}, {% endif %}
                                                        {% endfor %}
                                                    </span>
                                                </div>
                                            </div>

                                            <p>{{ obj.content|slice:200 }}...</p>

                                            <hr>

                                            <a href="{% url 'writer_article_detail' obj.pk %}" class="readmore stretched-link"><span>Read More</span><i
                                                    class="bi bi-arrow-right"></i></a>

                                        </div>

                                    </article>
                                </div><!-- End post list item -->
                        
                            {% endfor %}
                        </div>
                    </div>

                </section>

                <!-- Blog Pagination Section -->
                <section id="blog-pagination" class="blog-pagination section">

                <div class="container">
                    <div class="d-flex justify-content-center">
                    <ul>

                        {% if articles.has_previous %}
                        <li>
                            <a href="?q={{ search_query }}&page={{ articles.previous_page_number }}">
                            <i class="bi bi-chevron-left"></i>
                            </a>
                        </li>
                        {% endif %}

                        {% if articles.paginator.num_pages > 1 %}
                        <li>
                            {% if articles.number == 1 %}
                            <a href="?q={{ search_query }}&page=1" class="active">1</a>
                            {% else %}
                            <a href="?q={{ search_query }}&page=1">1</a>
                            {% endif %}
                        </li>
                        {% endif %}

                        {% if articles.number > 4 %}
                        <li>...</li>
                        {% endif %}

                        {% for num in articles.paginator.page_range %}
                        {% if num > 1 and num < articles.paginator.num_pages %}
                            {% if num >= articles.number|add:"-2" and num <= articles.number|add:"2" %}
                            <li>
                                {% if articles.number == num %}
                                <a href="?q={{ search_query }}&page={{ num }}" class="active">{{ num }}</a>
                                {% else %}
                                <a href="?q={{ search_query }}&page={{ num }}">{{ num }}</a>
                                {% endif %}
                            </li>
                            {% endif %}
                        {% endif %}
                        {% endfor %}

                        {% if articles.number < articles.paginator.num_pages|add:"-3" %}
                        <li>...</li>
                        {% endif %}

                        {% if articles.paginator.num_pages > 1 %}
                        <li>
                            {% if articles.number == articles.paginator.num_pages %}
                            <a href="?q={{ search_query }}&page={{ articles.paginator.num_pages }}" class="active">{{ articles.paginator.num_pages }}</a>
                            {% else %}
                            <a href="?q={{ search_query }}&page={{ articles.paginator.num_pages }}">{{ articles.paginator.num_pages }}</a>
                            {% endif %}
                        </li>
                        {% endif %}

                        {% if articles.has_next %}
                        <li>
                            <a href="?q={{ search_query }}&page={{ articles.next_page_number }}">
                            <i class="bi bi-chevron-right"></i>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    </div>
                </div>

                </section><!-- /Blog Pagination Section -->

            </div>

            <div class="col-lg-4 sidebar">

                <div class="widgets-container">

                    <!-- Blog Author Widget 2 -->
                    <div class="blog-author-widget-2 widget-item">

                        <div class="d-flex flex-column align-items-center">
                            <h4>Trending Writer</h4><br>
                            {% if trending_writer.profile_picture %}
                                <img src="{{ trending_writer.profile_picture.url }}" class="rounded-circle flex-shrink-0" alt="">
                            {% else %}
                                <i class="bi bi-person rounded-circle flex-shrink-0" style="font-size: 100px;"></i>
                            {% endif %}
                            <h4>
                                {% if trending_writer.groups.first.name == 'Writer' %}
                                    <a href="{% url 'w_writer_profile' trending_writer.pk %}">{{ trending_writer.username|title }}</a>
                                {% elif trending_writer.groups.first.name == 'Admin' %}
                                    <a href="{% url 'w_admin_profile' trending_writer.pk %}">{{ trending_writer.username|title }}</a>
                                {% endif %}
                            </h4>
                            <div class="social-links">
                                {% if trending_writer.website_link %}
                                    <a href="{{trending_writer.website_link}}"><i class="bi bi-house"></i></a>
                                {% endif %}
                                {% if trending_writer.twitter_link %}
                                    <a href="{{trending_writer.twitter_link}}"><i class="bi bi-twitter-x"></i></a>
                                {% endif %}
                                {% if trending_writer.facebook_link %}
                                    <a href="{{trending_writer.facebook_link}}"><i class="bi bi-facebook"></i></a>
                                {% endif %}
                                {% if trending_writer.instagram_link %}
                                    <a href="{{trending_writer.instagram_link}}"><i class="biu bi-instagram"></i></a>
                                {% endif %}
                                {% if trending_writer.linkedin_link %}
                                    <a href="{{trending_writer.linkedin_link}}"><i class="biu bi-linkedin"></i></a>
                                {% endif %}
                            </div>

                            <p>
                                {{trending_writer.bio}}
                            </p>

                        </div>

                    </div><!--/Blog Author Widget 2 -->

                    <!-- Search Widget -->
                    <div class="search-widget widget-item">

                        <h3 class="widget-title">Search</h3>
                        <form method="get">
                            <input type="text" name="q" value="{{ search_query }}" placeholder="Search Title/Writer In Category">
                            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                        </form>

                    </div><!--/Search Widget -->

                    <!-- Recent Posts Widget -->
                    <div class="recent-posts-widget widget-item">

                        <h3 class="widget-title">Recent Posts On {{ category }}</h3>

                        {% for post in recent_posts %}
                        <div class="post-item">
                            <img src="{{ post.image.url }}" alt="" class="flex-shrink-0">
                            <div>
                                <h4><a href="{% url 'writer_article_detail' post.pk %}">{{ post.title }}</a></h4>
                                <time datetime="{{post.date_added}}">{{post.date_added}}</time>
                            </div>
                        </div><!-- End recent post item-->
                        {% endfor %}

                    </div><!--/Recent Posts Widget -->

                    <!-- Tags Widget -->
                    <div class="tags-widget widget-item">

                        <h3 class="widget-title">Other Categories</h3>
                        <ul>
                            {% for category in other_categories %}
                                <li><a href="{% url 'writer_article_category_list' category.name %}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>

                    </div><!--/Tags Widget -->

                </div>

            </div>
        {% endif %}
    </div>
</div>

{% endblock %}
